/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
  background: #ecf0f1;
}
img {
  display: block;
}
a {
  color: #333;
  text-decoration: none;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
.hidden {
  display: none !important;
}

/* user-info */
.user-info .container {
  height: 100%;
  margin-top: 30px;
  position: relative;
}
#user-form {
  position: absolute;
  display: flex;
  right: 0;
}

#user-form .username {
  border-radius: 4px;
  margin-right: 20px;
  height: 30px;
  width: 250px;
}

.user-info .hello {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

