/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
  height: 2000px;
}
img {
  display: block;
}
a {
  color: #333;
  text-decoration: none;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

/* HEADER */
header {
  width: 100%;
  background-color: #dfe6e9;
  position: fixed;
  top: 0;
  z-index: 5;
}
header .inner {
  display: flex;
  align-items: center;
}
header .logo img{
  width: 50px;
}
header nav {
  display: flex;
  position: absolute;
  right: 0;
  align-items: center;
}
header nav a {
  font-size: 20px;
  padding: 0 30px 0;
  display: block;
  color: #656565;
}
header nav a:hover {
  color: #333;
}
header nav .search {
  display: flex;
  position: relative;
}
header nav .search input {
  width: 30px;
  height: 30px;
  padding: 4px 10px;
  border: 1px solid #656565;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  transition: .4s;
}
header nav .search input:focus {
  width: 350px; 
  /* border-color: ; */
}
header nav .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 2px;
  margin: auto;
  cursor: pointer;
  transition: .4s;
}
header nav .search.focused .material-icons {
  opacity: 0;
}